{% load get_profile_tag %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="shortcut icon" href="{% static 'images/car.png' %}">
    <title>WorldOfSpeed</title>
</head>

<body>
<div id="box">
    <header>
        <!-- Navigation Bar -->
        <h1>
            <a class="index-navigation" href="{% url 'index' %}"
            ><span>World of Speed</span></a
            >
        </h1>
        <nav>
            {% get_user as profile %}
            {% if profile %}
                <a href="{% url 'catalogue' %}">Catalogue</a>
                <a href="{% url 'create_car' %}">Create Car</a>
                <a href="{% url 'profile_details' %}">Profile</a>
            {% else %}
                <a href="{% url 'create_profile' %}">Create Profile</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}
        {% endblock %}
    <footer>&copy;SoftUni Team 2024. All rights reserved.</footer>
</div>
</body>
</html>
