{% load get_user %}
<header>
    <!-- Navigation Bar -->
    <h1><a class="index-navigation" href="{% url 'index' %}">MyPlants</a></h1>
    <nav>
        {% get_user as profile %}
        <!-- if the user has not created a profile -->
        {% if not profile %}
            <a href="{% url 'create_profile' %}">Create Profile</a>
        <!-- if the user has created a profile -->
        {% else %}
            <a href="{% url 'catalogue' %}">Catalogue</a>
            <a href="{% url 'create_plant' %}">Create Plant</a>
            <a href="{% url 'details_profile' %}">Profile</a>
        {% endif %}
    </nav>
</header>